.wrapper {
    width:120px;
    min-height:150px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius:10px;
    border: 1px solid black;
    gap:1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    background-color: white;
    &.wrapperOccupied {
        background-color: #8FFF94;
    }
}